body {
    padding-top: 70px;
}

.footer {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding: 15px 0 30px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body, .content-wrapper, .main-sidebar, .main-header, .main-footer, .content-header, .box-title,h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.bgcontent {
    background-image: url('../img/islamic-pattern-11.png');
    background-repeat: repeat;
    background-position: center;
}
